.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    zoom: 200%;
    margin-left: 180px;
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

:hover {
    box-shadow: 0 0 6px #4285f4;
}

:active {
    background: button-active-blue;
}


body {
    font-family: "Marriwather";
    font-size: 1.5rem;
    background-color: #0fabbc;
}

.container {
    background-color: #effffb;
    border-right: solid;
    border-left: solid;
    
}

.itemCountryInfo {
    display: block;
    width: 30%;
}

.iframePosition {
    margin-top: 5%;
}

.center {
    text-align: center;
}

#flag-container {
    display: block;
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 200px;
    left: 100px;
    margin: 0 auto;
}

#login-btn {
    margin: 5%;
}

#info-container {
    padding: 5% 5% 0 5%;
}

#countryInfo {
    padding-top: 5%;
}

.showvideos-btn {
    margin-left: 5%;
}

#countriesList {
    width: 600px;
    margin-left: 100px;
    text-align-last: center;
}

iframe {
    display: inline;
}

.videoInfo {
    padding: 50px;
}

#email-img {
    border-radius: 50%;
    margin-left: 1%;
}

#profileinfo {
    text-align: right;
}

#profile-name {
    display: block;
}

.hide {
    display: none;
}

#start {
    height: 400px;
    padding-top: 200px;
    text-align: center;
    font-family: "Galada";
}

h1 {
    font-size: 4rem;
}

.container-height{height: 1000px;}

.padding-top{
    padding-top: 30px;
}

p{margin-bottom:0.1rem;}
